@charset "utf-8";
/* CSS Document */
#wrap{background:#E2F3FF url(../images/bg_top.jpg) top center no-repeat;}
#wrapbottom{background:url(../images/bg_bottom.jpg) bottom center no-repeat;}
#wrapcon{background:url(../images/bg_main.png) center top no-repeat;}
#conframe{border:1px solid #D6F1FD;background:#fff}

.member_infbox{background:url(../images/bg_frame.gif) no-repeat;}
.leftcontop{width:186px;padding-top:10px;background:url(../images/bg_frame.gif) 0 -170px no-repeat;font-size:0; overflow:hidden}
.leftcon{width:186px;}
.leftconbottom{width:186px;height:10px;background:url(../images/bg_frame.gif) 0 -180px no-repeat;font-size:0; overflow:hidden}

.right_funcitonbox{width:750px;padding-top:10px;background:url(../images/bg_frame.gif) 0 -205px no-repeat;margin: 0 0 20px 0;}
.right_funcitonbottom{width:750px;height:10px;background:url(../images/bg_frame.gif) 0 -215px no-repeat;font-size:0; overflow:hidden;}
.right_funcitoncon{width:748px; border-left:1px solid #D7EBF8; border-right:1px solid #D1E7F7; background:#F5FBFF;}
